* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #04476F;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.navFlex {
  display: flex;
  flex-direction: row;
  height: 200px;
}

.navLinks,
.navLogo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navLinks {
  width: 100%;
}

nav a {
  padding-right: 40px;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #5FC4E1;
  transition-delay: 50ms;
}

.navLogo img {
  max-width: 300px;
  max-height: 100px;
  padding-left: 50px;
}

@media (max-width: 800px) {
  .navFlex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navLogo img {
    max-width: 200px;
    max-height: 100px;
    padding-left: 50px;
  }
}

.pageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  background-color: #3A3A3A;
  border-radius: 25px;
  box-shadow: 5px 5px black;
  width: 500px;
  height: 200px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
}

.projectCard {
  background-color: #3A3A3A;
  width: 1000px;
  height: 250px;
  border-radius: 25px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "projectImage projectTitle projectTitle"
    "projectImage . projectLink";
}

.projectLink {
  grid-area: projectLink;
  border: 0px;
  border-radius: 10px;
  width: 160px;
  height: 50px;
  position: relative;
  left: 150px;
  top: -80px;
  background-color: #287895;
  color: white;
  padding: 14px 30px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  z-index: 1
}

.projectTitle {
  grid-area: projectTitle;
  color: white;
  margin-top: 10px;
  margin-left: 20px;
}

.projectImage img {
  grid-area: projectImage;
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 25px 0px 0px 25px;
}

.heroBanner img {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #3A3A3A;
  width: auto;
  height: 100px;
  color: white;
  padding-right: 15px;
  gap: 10;
  margin-top: 50px;
}

footer img {
  width: 30px;
  margin-right: 30px;
}

footer h2 {
  margin-right: 30px;
  margin-bottom: 5px;
}

.farewell {
  margin-right: 550px;
}